{%extends 'photo_app/base.html'%}

{% block main_content %}  
            <main class="edit-profile">
                <section class="profile-form">
                    <header class="profile-form__header">
                        <div class="profile-form__avatar-container">
                            <img 
                                src="{{user.profile_pic.url}}"
                                class="profile-form__avatar"
                            />
                        </div>
                        <h4 class="profile-form__title">Edit Your Profile</h4>
                    </header>
                    <form method="POST" class="edit-profile__form">
                        {% csrf_token %}
                        <div class="edit-profile__form-row">
                            <label for="name" class="edit-profile__label">Name
                            </label>
                            {{form.display_name}}
                        </div>
                        <div class="edit-profile__form-row">
                            <label for="username" class="edit-profile__label">
                                Username
                            </label>
                            {{form.user_name}}
                        </div>
                        
                        <div class="edit-profile__form-row">
                            <label for="bio" class="edit-profile__label">
                                Bio
                            </label>
                            {{form.bio}}
                        </div>
                        <div class="edit-profile__form-row">
                            <label for="email" class="edit-profile__label">
                                Email
                            </label>
                            {{form.email}}
                        </div>

                        <div class="edit-profile__form-row">
                            <label for="profile_pic" class="edit-profile__label">
                                Profile Pcture
                            </label>
                            {{form.profile_pic}}
                        </div>
                        
                        <div class="edit-profile__form-row">
                            {{form.errors}}
                        </div>
                        
                        <div class="edit-profile__form-row">
                            <label class="edit-profile__label"></label>
                            <input type="submit" value="Submit">
                        </div>
                    </form>
                </section>
            </main>

{% endblock%}